body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    box-sizing: border-box;
    display: flex;
    border: 3px solid red;
    height: 500px;
    width: 500px;
}

/*.cell {
    flex: 1;
}*/