body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /*gap: 1px;*/
    border: 25px solid #4B0082;
    border-radius: 15px;
    box-shadow: 15px 15px 5px black;
    height: 500px;
    width: 500px;
}

.hover {
    background-color: #696969;
}

button {
    margin-bottom: 15px;
    border: 5px solid darkturquoise;
    border-radius: 5px;
    box-shadow: 3px 3px black;
    padding: 4px 7px;
}

button:hover {
    background-color: darkgray;
}

button:active {
    background-color: darkgray;
    transform: translateX(4px) translateY(4px);
}